* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  background: #A164DF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* This targets all buttons inside #buttons */
#buttons button {
  background-color: #663399;
  color: white;
  padding: 10px 8px;
  outline: none;
  border: none;
  font-size: 8px;
  cursor: pointer;
}
